@font-face {
  font-family: 'Friz';
  src: url('../../../assets/fonts/Friz.ttf')
  format('truetype')
}

.paginator{
  display: flex;
  justify-content: center;
  margin: 50px 0 20px;
  font-size: 25px;
}

.container{
  display: flex;
  margin: auto;
  width: 1500px;
  flex-wrap: wrap;
}

.champion{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.champion > img{
  width: 200px;
}

.champName{
  background-color: black;
  color: #e0c379;
  width: 200px;
  text-align: center;
  font-family: 'friz';
  font-size: 25px;
  border-radius: 0 0 10px 10px;
}

.type{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.type > img{
  width: 25%;
}

.type > img:hover{
  
}
