/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/IlpLRYK-library-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;

}

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form{
  display: flex;
  flex-direction: column;
  width: 300px;
}
